<div>
  <mat-table #table [dataSource]="dataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> User ID. </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.firstName}}</mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.lastName}}</mat-cell>
    </ng-container>

    <!-- Department ID Column -->
    <ng-container matColumnDef="departmentId">
      <mat-header-cell *matHeaderCellDef> Department ID </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.departmentId}}</mat-cell>
    </ng-container>

      <!-- Department Name Column -->
    <ng-container matColumnDef="departmentName">
      <mat-header-cell *matHeaderCellDef> Department Name </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.departmentName}}</mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
